.kotakArt {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.8%;
  background: #e8f1f2;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  text-align: left;
}
.detailArt {
  margin: 1rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.8%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  text-align: left;
}
.detailArt .detailTeks {
  text-align: center;
  padding: 1% 2%;
}
.detailArt .detailTeks .paragraf {
  text-align: justify;
  line-height: 1.1;
}
.detailArt .detailTeks .judul {
  font-size: 2em;
}

.detailArt .detailTeks img {
  /* margin:10%; */
  margin: 2% 0 2% 0;
  max-width: 400px;
}
.detailArt .date {
  background-color: #4acfff;
  color: #333;
  font-size: 18px;
  font-weight: 800;
  min-height: 48px;
  width: 48px;
  padding: 10px 0;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  /* top: 0; */
  float: right;
  margin-right: 0px;
  right: 0;
}
.detailArt .date span {
  display: block;
  line-height: 14px;
}

.detailArt .date .month {
  font-size: 11px;
}

.kotakArt .photo:hover {
  transform: scale(1.3) rotate(3deg);
}
.kotakArt .meta {
  z-index: 0;
}
.kotakArt .photo {
  height: 200px;
  background-image: url('https://langgam.id/unggah/2020/05/NEGATIF-CORONA.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  object-fit: none;
  transition: transform 0.2s;
}
.kotakArt .details,
.kotakArt .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.kotakArt .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.kotakArt .details a {
  text-decoration: dotted underline;
}
.kotakArt .details ul li {
  display: inline-block;
}
.kotakArt .details .tags li {
  margin-right: 2px;
}
.kotakArt .details .tags li:first-child {
  margin-left: -4px;
}
.kotakArt .description {
  padding: 30px;
  background: #fff;
  position: relative;
  z-index: 1;
}
.kotakArt .description h1,
.kotakArt .description h2 {
  font-family: Poppins, sans-serif;
}
.kotakArt .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.kotakArt .description h2 {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #4acfff;
  margin-top: 5px;
}
.kotakArt .description .read-more {
  text-align: right;
}
.kotakArt .description .read-more a {
  color: #ff3366;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.kotakArt p {
  position: relative;
  margin: 1rem 0 0;
}

.kotakArt:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .kotakArt {
    flex-direction: row;
    max-width: 90%;
  }
  .kotakArt .meta {
    flex-basis: 40%;
    height: auto;
  }
  .kotakArt .description {
    flex-basis: 60%;
  }
  .kotakArt.alt {
    flex-direction: row-reverse;
  }
  .kotakArt.alt .details {
    padding-left: 25px;
  }
}
