.tesCorona {
  display: flex;
  height: 40%;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5rem;
}

.tesOffline {
  width: 50%;
  flex: 4;
  background-color: tomato;
  height: 100%;
  color: white;
  border-radius: 10px;
  margin-right: 5%;
}
.tesOnline {
  flex: 4;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-items: center;
}
.kotakTes {
  width: 100%;
  background-color: tomato;
  color: white;
  display: flex;
  border-radius: 10px;
}
.kotakTes img {
  object-fit: contain;
  width: 60%;
  border-radius: 10px;
}
.kotakTes div {
  z-index: 2;
}
@media (max-width: 640px) {
  .tesCorona {
    flex-direction: column;
    height: 60%;
  }
  .tesOnline,
  .tesOffline {
    margin-bottom: 10px;
    width: 90%;
  }
  .tesOffline {
    flex-shrink: 1.5;
  }
}
